body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

nav {
  background-color: #131313;
  padding: 0.5rem;
  border: 8px solid #5d5c5c;
  border-bottom: none;

}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin: 10;
}

nav ul li {
  margin: 0 1rem;
  font-family: "caveat", cursive;
}


nav ul li a {
  color: #e2e2e2ba;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

nav ul li a.active {
  border-bottom: 2px solid #e2e2e2ba;
}

nav ul li a:hover {
  color: #434343;
}

.container {
  padding: 2rem;
}

@media (max-width: 768px) {
  nav {
    padding: 0.5rem;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  .container {
    padding: 1rem;
  }
}

